<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SystemManagerEntities" connectionString="metadata=res://*/UserManagerModel.csdl|res://*/UserManagerModel.ssdl|res://*/UserManagerModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\Documents\GitHub\Jhld3n\Jhld3n\AnonManagementSystem\AnonManagementSystem\bin\Debug\SystemManager.db&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/EquipmentInfoModel.csdl|res://*/EquipmentInfoModel.ssdl|res://*/EquipmentInfoModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\Documents\GitHub\Jhld3n\Jhld3n\AnonManagementSystem\AnonManagementSystem\bin\Debug\Database\Test.db&quot;" providerName="System.Data.EntityClient" />
    <add name="EquipmentManagementEntities" connectionString="metadata=res://*/EquipmentInformation.csdl|res://*/EquipmentInformation.ssdl|res://*/EquipmentInformation.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\Work\Documents\GitHub\Jhld3n\AnonManagementSystem\Reference\EquipmentManagement.db&quot;" providerName="System.Data.EntityClient" />
    <add name="EquipImageEntities" connectionString="metadata=res://*/EquipmentImages.csdl|res://*/EquipmentImages.ssdl|res://*/EquipmentImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\Work\Documents\GitHub\Jhld3n\AnonManagementSystem\Reference\EquipmentImages.db&quot;" providerName="System.Data.EntityClient" />
    <add name="VehiclesImagesEntities" connectionString="metadata=res://*/VehiclesImages.csdl|res://*/VehiclesImages.ssdl|res://*/VehiclesImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\Work\Documents\GitHub\Jhld3n\AnonManagementSystem\Reference\VehiclesImages.db&quot;" providerName="System.Data.EntityClient" />
    <add name="OilEngineImagesEntities" connectionString="metadata=res://*/OilEngineImages.csdl|res://*/OilEngineImages.ssdl|res://*/OilEngineImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\Work\Documents\GitHub\Jhld3n\AnonManagementSystem\Reference\OilEngineImages.db&quot;" providerName="System.Data.EntityClient" />
    <add name="EventsImagesEntities" connectionString="metadata=res://*/EventsImages.csdl|res://*/EventsImages.ssdl|res://*/EventsImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=E:\Work\Documents\GitHub\Jhld3n\AnonManagementSystem\Reference\EventsImages.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>