<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SystemManagerDB" connectionString="metadata=res://*/UserManagerModel.csdl|res://*/UserManagerModel.ssdl|res://*/UserManagerModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\SystemManager.db&quot;" providerName="System.Data.EntityClient" />
    <add name="EquipmentManagementDB" connectionString="metadata=res://*/EquipmentInformation.csdl|res://*/EquipmentInformation.ssdl|res://*/EquipmentInformation.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\ZBDataBase\EquipmentManagement.db&quot;" providerName="System.Data.EntityClient" />
    <add name="EquipImageDB" connectionString="metadata=res://*/EquipmentImages.csdl|res://*/EquipmentImages.ssdl|res://*/EquipmentImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\ZBDataBase\EquipmentImages.db&quot;" providerName="System.Data.EntityClient" />
    <add name="VehiclesImagesDB" connectionString="metadata=res://*/VehiclesImages.csdl|res://*/VehiclesImages.ssdl|res://*/VehiclesImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\ZBDataBase\VehiclesImages.db&quot;" providerName="System.Data.EntityClient" />
    <add name="OilEngineImagesDB" connectionString="metadata=res://*/OilEngineImages.csdl|res://*/OilEngineImages.ssdl|res://*/OilEngineImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\ZBDataBase\OilEngineImages.db&quot;" providerName="System.Data.EntityClient" />
    <add name="EventsImagesDB" connectionString="metadata=res://*/EventsImages.csdl|res://*/EventsImages.ssdl|res://*/EventsImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\ZBDataBase\EventsImages.db&quot;" providerName="System.Data.EntityClient" />
    <add name="SparePartManagementDB" connectionString="metadata=res://*/SparePartsInformation.csdl|res://*/SparePartsInformation.ssdl|res://*/SparePartsInformation.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\ZBDataBase\SparePartManagement.db&quot;" providerName="System.Data.EntityClient" />
    <add name="SparePartImagesDB" connectionString="metadata=res://*/SparePartsImages.csdl|res://*/SparePartsImages.ssdl|res://*/SparePartsImages.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\ZBDataBase\SparePartImages.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <nlog throwExceptions="true" internalLogFile="C:\Nlog.log" internalLogLevel="Error">
    <variable name="logDirectory" value="${basedir}/Log/${shortdate}" />
    <targets>
      <default-wrapper type="AsyncWrapper" />
      <default-target-parameters type="File" keepFileOpen="false" />
      <target name="LogError" type="File" fileName="${logDirectory}/Error${shortdate}.log" />
      <target name="LogInfo" type="File" fileName="${logDirectory}/Info${shortdate}.log" />
      <target name="LogWarn" type="File" fileName="${logDirectory}/Warn${shortdate}.log" />
      <target name="LogFatal" type="File" fileName="${logDirectory}/Fatal${shortdate}.log" />
    </targets>
    <rules>
      <logger name="LogError" minlevel="Trace" writeTo="LogError"></logger>
      <logger name="LogInfo" minlevel="Trace" writeTo="LogInfo"></logger>
      <logger name="LogWarn" minlevel="Trace" writeTo="LogWarn"></logger>
      <logger name="LogFatal" minlevel="Trace" writeTo="LogFatal"></logger>
    </rules>
  </nlog>
  
</configuration>